<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://kit.fontawesome.com/4f272c0f0e.js" crossorigin="anonymous"></script>
    <script src="../js/index.js"></script>
</head>
<body>
    <div class="home background">
        <h1>Hello Admin! </h1>
        <p>You can perform following tasks by click onto any of the boxes below..</p>
    </div>
    <div class="container ">
        <div class="adminbox">
            <div class="content">
                <i class="fa-solid fa-plus"></i>
                <h1>Create New Record</h1>
                <button class="btn1"><a href="createrecord.pug">Create</a></button>
            </div>
        </div>
        <div class="adminbox">
            <div class="content">
                <i class="fa-solid fa-file"></i>
                <h1>Check Record</h1>
                <button class="btn1">Check</button>
            </div>
        </div>
        <div class="adminbox">
            <div class="content">
                <i class="fa-solid fa-folder-minus"></i>
                <h1>Delete Record</h1>
                <button class="btn1">Delete</button>
            </div>
        </div>
        <div class="adminbox">
            <div class="content">
                <i class="fa-solid fa-file-pen"></i>
                <h1>Update Record</h1>
                <button class="btn1">Update</button>
            </div>
        </div>
    </div>
</body>
</html>