<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create record</title>
    <link rel="stylesheet" href="../static/create.css">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="base">
        <h1><u>Fill Details</u></h1>
        <div class="form">
        <form action="/create" method="post" id="myform">
            <label for="ID">ID:</label>
            <input type="text" name="ID" placeholder="Enter the Id of teacher">
            <label for="TName">Teacher Name:</label>
            <input type="text" name="TName" placeholder="Enter the Name of teacher">
            <label for="Dept">Department</label>
            <input type="text" name="Dept" placeholder="Enter the Department of teacher">
            <label for="Lecture1">Lecture1</label>
            <input type="text" name="Lecture1" placeholder="Enter the room no.">
            <label for="Lecture2">Lecture2</label>
            <input type="text" name="Lecture2" placeholder="Enter the room no.">
            <label for="Lecture3">Lecture3</label>
            <input type="text" name="Lecture3" placeholder="Enter the room no.">
            <label for="Lecture4">Lecture4</label>
            <input type="text" name="Lecture4" placeholder="Enter the room no.">
            <label for="Lecture5">Lecture5</label>
            <input type="text" name="Lecture5" placeholder="Enter the room no.">
            <label for="Lecture6">Lecture6</label>
            <input type="text" name="Lecture6" placeholder="Enter the room no.">
            <label for="Lecture7">Lecture7</label>
            <input type="text" name="Lecture7" placeholder="Enter the room no.">
            <label for="Lecture8">Lecture8</label>
            <input type="text" name="Lecture8" placeholder="Enter the room no.">
            <button class="btn">Submit</button>
        </form>
        </div>
    </div>
</body>
</html>
        