<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error page</title>
    <link rel="stylesheet" href="../static/create.css">
    <script src="https://kit.fontawesome.com/4f272c0f0e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="bodyy">
        <div class="boxx">
            <h1>Oopsss!!!</h1>
            <i class="fa-regular fa-face-sad-tear"></i>
            <p>There is an error. Please try again.</p>
            <button class="btn1"><a href="/">Home Page</a></button>
        </div>
    </div>
</body>
</html>